.benefit {
	display: flex;
	justify-content: space-between;

	@include mq('tablet-small') {
		flex-wrap: wrap;
	}

	&-item {
		display: flex;
		gap: 25px;
		justify-content: space-between;

		@include mq('tablet-small') {
			width: 100%;
			margin-bottom: 15px;
			justify-content: flex-start;
		}
	}

	&-content {
		color: $second-font-color;
		font-weight: 400;
		font-size: $main-font-size;
		line-height: 20px;

		@include mq('tablet-wide') {
			line-height: 16px;
		}
	}

	&-title {
		font-weight: 600;
		font-size: $main-font-size + 8px;
		line-height: 29px;
		color: $second-font-color;
	}
}