.header {

	padding: 40px 0;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $white;
	border-bottom: 1px solid $l-bg-color;
	transition: all 0.25s ease-in;




	&.sticky {
		box-shadow: 0 0 3px 0px rgba(10, 10, 10, 0.7);
		padding: 20px 0;

	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu-list {
		display: flex;
		justify-content: flex-end;
		gap: 0 60px;

		@include mq('tablet-small') {
			display: none;
		}


		&-item {
			a {
				color: $second-font-color;
				font: $main-font;
				text-decoration: none;
				line-height: $main-lineH;
			}
		}
	}
}

.logo {
	font-family: $main-fontfamily;
	font-weight: 700;
	font-size: 34px;
	line-height: 41px;
	text-decoration: none;
	color: $main-color;
}