.hero_slider {
	background-image: url('../images/hero-slider.jpg');
	background-size: cover;
	position: relative;
	font-family: $main-fontfamily;

	.container {
		position: relative;
		height: calc(100vh - 122px);
	}

	&_message {
		position: absolute;
		transform: translate(0, -50%);
		top: 50%;
		right: 90px;
		z-index: 1;
		background: $l-bg-color;
		padding: 42px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 50%;
		font-weight: 500;
		font-size: $main-font-size + 2px;
		line-height: 39px;

		@include mq('tablet-small') {
			max-width: 95%;
			right: 2.5%;
		}
	}

	&_title {
		font-family: $main-fontfamily;
		font-style: normal;
		font-weight: 700;
		font-size: 52px;
		line-height: 65px;
		color: $main-color;

		@include mq('tablet-small') {
			font-size: 42px;
			line-height: 55px;
		}
	}
}