.mailing-container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 50px;

	@include mq('tablet-wide') {
		width: 80%;
	}

	@include mq('tablet-small') {
		width: 95%;
	}
}

.field-container {
	position: relative;
	display: block;

	.btn {
		position: absolute;
		right: 0;
		top: 0;

		@include mq('tablet-wide') {
			position: relative;
			display: inline-block;
			margin-top: 15px;
		}
	}
}