.collection .container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.promo-gallery {
	display: flex;
	justify-content: space-between;
	gap: 40px;

	@include mq('tablet-small') {
		flex-wrap: wrap;
		gap: 40px 0;
	}

	.image-mask {
		max-height: 434px;

		@include mq('tablet-small') {
			flex: auto;
			max-width: 95%;
		}
	}
}