.single-promo {
	.container {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		align-items: center;
	}

	&-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 20px;

	}

	&-img {
		flex: 1;
		height: 737px;
		max-width: 450px;
		margin: 0 10% 0 0;

		@include mq('tablet-small') {
			display: none;
		}

		&.image-mask.right {
			margin-top: 0;
		}
	}
}