.field {
	border: 1px solid #054C73;
	border-radius: 3px;
	height: 72px;
	border: 1px solid $main-color;
	width: 100%;
	padding-left: 25px;

	@include input-placeholder {
		color: rgba(1, 28, 66, 0.3);
	}

	;
}