$main-fontfamily: 'Montserrat', sans-serif;
$main-font-size: 16px;
$main-lineH: 17px;
$main-font: $main-font-size $main-fontfamily;

$main-font-color: #666666;
$second-font-color: #333333;
$main-color: #054C73;
$l-bg-color: #DFE9F4;
$background-grey: #F2F5FF;
$white: #ffffff;
$dark-blue: #03344F;